.root {
  :global {
    .two-line-container {
      width: 100px;
      height: 100px;
      position: relative;
      /* 使用float + margin */
      // .left {
      //   float: left;
      //   width: 20px;
      //   background: red;
      // }
      // .right {
      //   margin-left: 20px;
      //   height: 100%;
      //   background: pink;
      // }
      /* float + calc */
      // .left {
      //   float: left;
      //   width: 20px;
      //   background: red;
      // }
      // .right {
      //   height: 100%;
      //   background: pink;
      //   width: calc(100% - 20px);
      //   float: right;
      // }
      /* float + overflow */
      // .left {
      //   float: left;
      //   width: 20px;
      //   background: rebeccapurple;
      // }
      // .right {
      //   overflow: hidden;
      //   height: 100%;
      //   background: darkblue;
      // }
      /* 利用flex实现 */
    }
  }
}
